title = "Blog"
url = "/blog"
layout = "default"
is_hidden = 0

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = 404
postPage = "post"
==
<div class="jumbotron">
    <div class="container">
        {% content "blog.htm" %}
    </div>
</div>

<div class="container">

    <div class="page-header">
        <h2>{{ 'Blog Posts'|_ }}</h2>
    </div>
    
    {% set posts = blogPosts.posts %}

    <ul class="post-list">
        {% for post in posts %}
            <li>
                <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>

                <p class="info">
                    Posted
                    {% if post.categories.count %} in {% endif %}
                    {% for category in post.categories %}
                        <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
                    {% endfor %}
                    on {{ post.published_at|date('M d, Y') }}
                </p>

                <p class="excerpt">{{ post.summary|raw }}</p>
            </li>
        {% else %}
            <li class="no-data">{{ blogPosts.noPostsMessage }}</li>
        {% endfor %}
    </ul>

    {% if posts.lastPage > 1 %}
        <ul class="pagination">
            {% if posts.currentPage > 1 %}
                <li><a href="{{ this.page.baseFileName|page({ (blogPosts.pageParam): (posts.currentPage-1) }) }}">&larr; Prev</a></li>
            {% endif %}

            {% for page in 1..posts.lastPage %}
                <li class="{{ posts.currentPage == page ? 'active' : null }}">
                    <a href="{{ this.page.baseFileName|page({ (blogPosts.pageParam): page }) }}">{{ page }}</a>
                </li>
            {% endfor %}

            {% if posts.lastPage > posts.currentPage %}
                <li><a href="{{ this.page.baseFileName|page({ (blogPosts.pageParam): (posts.currentPage+1) }) }}">Next &rarr;</a></li>
            {% endif %}
        </ul>
    {% endif %}

</div>