title = "Blog Post"
url = "/post/:slug"
layout = "default"
is_hidden = 0

[blogPost]
slug = "{{ :slug }}"
categoryPage = 404

[commentsPost]
==
<?php
function onEnd()
{
    // Optional - set the page title to the post title
    if (isset($this->post))
        $this->page->title = $this->post->title;
}
?>
==
<div class="jumbotron">
    <div class="container">
        {% content "blog-post.htm" %}
    </div>
</div>


<div class="container">
{% if post %}
	<div class="page-header">
   		<h2>{{ post.title }}</h2>
   	</div>

    {% component 'blogPost' %}
{% else %}
	<div class="page-header">
    	<h2>Post not found</h2>
    </div>
{% endif %}
</div>

<div class="container">
    {% set posts = commentsPost.posts %}

<div class="col-xs-6" id="comments-content">
    {% if(commentsPost.count) > 0 %}
        <h3 class="text-right"><span id="comments-count">{{ commentsPost.count }}</span> comments</h3>
    {% endif %}
    {% if(user or commentsPost.settings.allow_guest) %}

        {% partial "commentsPost::form" %}

    {% endif %}
    <div class="comments">
        <ul>
            {% partial "commentsPost::list" posts=posts %}
        </ul>
    </div>
</div>



</div>