title = "Ambassador Profile Post"
url = "/profile/:slug"
layout = "default"
is_hidden = 0

[builderDetails]
modelClass = "Gherbal\Ambassadors\Models\Ambassador"
identifierValue = "{{ :slug }}"
modelKeyColumn = "slug"
displayColumn = "slug"
notFoundMessage = "Record not found"
==
{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}

<div class="jumbotron">
    <div class="container">
        {% content "ambassador-profiles.htm" %}
    </div>
</div>
<div class="container">
{% if record %}
    <h2>{{ attribute(record, displayColumn) }}</h2>

    <p>{{ record.content|raw }}</p>

{% else %}
    <h2>{{ notFoundMessage }}</h2>
{% endif %}
</div>