==
use RainLab\Translate\Classes\Translator;
protected $translator;

function onStart()
{
    $this->translator = Translator::instance();
    $this['SelectedLanguage'] = $this->activeLocale = $this->translator->getLocale();

    $this['locale'] = Session::pull('rainlab.translate.locale');

    $this['slug'] = "/" . $this->param('slug');
}
==
<!-- Nav -->
{% set page_id = this.page.id %}
<nav id="layout-nav" class="navbar navbar-inverse navbar-fixed-top navbar-autohide" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ 'home'|page }}">October Demo</a>
        </div>
        <div class="collapse navbar-collapse navbar-main-collapse">
            <ul class="nav navbar-nav">
                <li class="separator hidden-xs"></li>
                <li class="{% if this.page.id == 'home' %}active{% endif %}">{% if locale == "en" or locale == "" %}<a href="{{ 'home'|page }}">Home</a>{% elseif locale == "id" %}<a href="{{ 'home'|page }}">Beranda</a>{% endif %}</li>

                <li class="{% if this.page.id == 'blog' %}active{% endif %}">{% if locale == "en" or locale == "" %}<a href="{{ 'blog'|page }}">Blog</a>{% elseif locale == "id" %}<a href="{{ 'blog'|page }}">Blog</a>{% endif %}</li>

                <li class="{% if this.page.id == 'ambassador-profiles' %}active{% endif %}">{% if locale == "en" or locale == "" %}<a href="{{ 'ambassador-profiles'|page }}">Ambassador Profiles</a>{% elseif locale == "id" %}<a href="{{ 'ambassador-profiles'|page }}">Profil Dua-duta</a>{% endif %}</li>

                <li>{% if page_id == "home" %}<a href="/en">en</a>{% else %}<a href="/en/{{ this.page.id }}{{ slug }}">en</a>{% endif %}</li>
                <li><a>|</a></li>
                <li>{% if page_id == "home" %}<a href="/id">id</a>{% else %}<a href="/id/{{ this.page.id }}{{ slug }}">id</a>{% endif %}</li>
            </ul>
        </div>
    </div>
</nav>
